{% extends 'base.html' %}


{% block conteudo %}
<section>
  {% with mensagens = get_flashed_messages() %}
  {% if mensagens %}
    {% for mensagem in mensagens %}
      {{ mensagem }}
    {% endfor %}
    {% endif %}
  {% endwith %}

  {% if dados_formulario %}
    <p>Informações do formulário</p>
    <p>nome: {{ dados_formulario.nome }}</p>
    <p>email: {{ dados_formulario.email }}</p>
    <p>telefone: {{ dados_formulario.telefone }}</p>
    <p>conteudo: {{ dados_formulario.conteudo }}</p>

  {% endif %}

  <h1>Formulário de contato</h1>
  <form action="" method="post">
    {{formulario.csrf_token}}

    <label for="nome">Nome:</label>
    {{formulario.nome}}

    <label for="email">Email:</label>
    {{formulario.email}}

    <label for="telefone">Telefone:</label>
    {{formulario.telefone}}

    <label for="conteudo">Conteúdo:</label>
    {{formulario.conteudo}}
    
    {{formulario.enviar}}
  </form>
  </section>

{% endblock %}