<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>Meu Portfólio</h1>
    </header>
    <nav>
        <a href="/">Início</a>
        <a href="sobre">Sobre</a>
        <a href="projetos">Projetos</a>
        <a href="contato">Contato</a>
    </nav>
    <section id="sobre">
        <h2>Sobre Mim</h2>
        <p>Olá! Meu nome é [Seu Nome] e sou um [Profissão] apaixonado por [Área de Interesse].</p>
        <p>Desde muito jovem, desenvolvi interesse em [Área de Interesse] e venho aprimorando minhas habilidades e conhecimentos nesta área.</p>
        <p>Ao longo dos anos, adquiri experiência em [Experiências Relevantes] e me destaco em [Habilidades Relevantes].</p>
        <p>Meu objetivo é [Objetivo Profissional ou Meta], e estou sempre em busca de novos desafios e oportunidades para crescer profissionalmente.</p>
    </section>
    <section id="projetos">
        <h2>Projetos</h2>
        <p>Nesta seção, apresento alguns dos projetos nos quais trabalhei ou que desenvolvi. Esses projetos demonstram minhas habilidades e a capacidade de enfrentar desafios de forma criativa e eficiente.</p>
        <!-- Adicione aqui informações sobre seus projetos, se desejar -->
    </section>
    <section id="contato">
        <h2>Contato</h2>
        <p>Se você tem interesse em entrar em contato comigo para discutir oportunidades de trabalho ou projetos, sinta-se à vontade para enviar um e-mail para <a href="mailto:meuemail@example.com">meuemail@example.com</a>.</p>
    </section>
    <footer>
        <p>Todos os direitos reservados &copy; 2023 | [Seu Nome]</p>
    </footer>
</body>
</html>
